{% load static %}

<!DOCTYPE html>
<html> 
    <head> 
        <title>Actualizar Categoría</title> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head> 
    <body> 
        <div class="content section"> 
            <div class="block">
                <h2>Actualizar Categoría</h2>
                <form action="{% url 'home' %}" method="get"><button type="submit">Inicio</button></form>
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <button type="submit">Actualizar</button>
                </form>
            </div> 
        </div> 
    </body> 
</html>